@charset "UTF-8";

.zdo_drawer_menu * {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;
	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
	font-size: 2rem;

	/* font: inherit; */

	/* font-family: inherit; */
	font-size: 100%;

	/* font-style: inherit;
	font-weight: inherit; */
	list-style: none;
	margin: 0;
	outline: none;
	padding: 0;

	/* text-align: left; */
	text-align: center;
	text-decoration: none;
}

.zdo_drawer_menu a {
	color: inherit;
	text-decoration: none;
}

.zdo_drawer_menu a:visited {
	color: inherit;
}

.zdo_drawer_menu .zdo_drawer_bg {
	background-color: rgba(51, 51, 51, 0.5);
	display: none;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 999;
}

.zdo_drawer_menu .zdo_drawer_button {
	background: none;
	border: none;
	cursor: pointer;
	display: block;
	letter-spacing: 0.1em;
	outline: none;
	padding: 0;
	position: fixed;
	right: 30px;
	text-align: center;
	top: 20px;
	width: 50px;
	z-index: 1001;
}

.zdo_drawer_menu .zdo_drawer_button.active .zdo_drawer_bar {
	width: 59px;
}

.zdo_drawer_menu .zdo_drawer_button.active .zdo_drawer_bar1 {
	transform: rotate(35deg);
}

.zdo_drawer_menu .zdo_drawer_button.active .zdo_drawer_bar2 {
	opacity: 0;
}

.zdo_drawer_menu .zdo_drawer_button.active .zdo_drawer_bar3 {
	transform: rotate(-35deg);
}

.zdo_drawer_menu .zdo_drawer_button.active .zdo_drawer_menu_text {
	display: none;
}

.zdo_drawer_menu .zdo_drawer_button.active .zdo_drawer_close {
	display: block;
}

.zdo_drawer_menu .zdo_drawer_bar {
	display: block;
	height: 4px;
	margin: 13px 0;
	transform-origin: 0 0;
	transition: all 0.2s;
}

.zdo_drawer_menu .zdo_drawer_text {
	font-size: 10px;
	text-align: center;
}

.zdo_drawer_menu .zdo_drawer_close {
	display: none;
	letter-spacing: 0.08em;
}

.zdo_drawer_menu .zdo_drawer_menu_text {
	display: block;
}

.zdo_drawer_menu .zdo_drawer_nav_wrapper {
	background: rgba(255, 255, 255, 0.9);
	height: 100%;
	line-height: 2;
	position: fixed;
	right: 0;
	top: 0;
	transform: translate(320px);
	transition: all 0.2s;
	width: 320px;
	z-index: 1000;
}

.zdo_drawer_menu .zdo_drawer_nav_wrapper.open {
	transform: translate(0);
}

.zdo_drawer_menu.left .zdo_drawer_button {
	left: 32px;
	right: auto;
}

.zdo_drawer_menu.left .zdo_drawer_nav_wrapper {
	left: 0;
	right: auto;
	transform: translate(-312px);
}

.zdo_drawer_menu.left .zdo_drawer_nav_wrapper.open {
	transform: translate(0);
}

/*+++ Default Navigation CSS +++*/
.zdo_drawer_menu .zdo_drawer_nav {
	padding: 112px 24px;
}

.zdo_drawer_menu .zdo_drawer_nav li {

	/* font-size: 16px; */

	/* margin-bottom: 15px; */
	margin-bottom: 1.5em;
}

.zdo_drawer_menu .zdo_drawer_nav li:last-child {
	margin-bottom: 0;
}

/*+++ Default Button Color +++*/
.zdo_drawer_menu .zdo_drawer_button {
	color: #000;
}

.zdo_drawer_menu .zdo_drawer_button .zdo_drawer_bar {
	background-color: #000;
}

@media screen and (max-width: 767px) {

	.zdo_drawer_menu .zdo_drawer_nav {
		font-size: 2rem;
	}
}

@media screen and (max-width: 575px) {

	.zdo_drawer_menu .zdo_drawer_nav {
		font-size: 1.8rem;
	}

	.zdo_drawer_menu .zdo_drawer_bar {
		height: 3px;
		margin: 7px 0;
	}

	.zdo_drawer_menu .zdo_drawer_button {
		width: 30px;
	}

	.zdo_drawer_menu .zdo_drawer_button.active .zdo_drawer_bar {
		width: 35px;
	}
}
